<!DOCTYPE html>
<html>
    <head>
      <title>Book List</title>
      <link rel="stylesheet" href="/dest/style.css"/>
    </head>
    <body>
        <h1>Book List</h1>
        //- <h1>#{title}</h1>
        <p>Sample paragraph</p>
    </body>
    //- <script language="javascript" src="js/jquery-3.3.1.slim.min.js"></script>
    //- <script language="javascript" src="js/popper.min.js"></script>
    //- <script language="javascript" src="js/bootstrap.min.js"></script>
</html>